$bg: #fefdf9;
$primary: #f15d51;
$secondary: #00001a;
$news-color: #e6a94d;
$news-article-title-color: #fff;
$link-color: #66646c;
$transition: 0.3s;
$article-color-number: #c9c7ca;
$article-color-title: #000;
$article-color-paragraph: #888688;
